@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
header{
  /* font-family: var(--font-cutouts); */
  /* font-family: var(--font-geist-mono); */
}

@layer utilities {

  /* .textarea{
    @apply p-5 font-cutouts
  } */

}